@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.container {

    margin: 0 auto;
    width: 27.5%;
}

.title {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    color: #808080;
}

.block {
    display: flex;
    flex-direction: column;
}

.inform {
    font-family: 'Grape Nuts', cursive;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.name {
    color: #063f38;
    font-weight: bold;
    margin-right: 10px;
    font-family: 'Oswald', sans-serif;
}

.age {
    color: #063f38;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.buttons {
    display: flex;
    line-height: 1.7;
    margin: 10px auto;
}

