@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');

.clockContainer {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    color: #808080;
}
.data {
    color: #e1c4c4;
    font-size: 30px;
    text-align: center;
    opacity: 0;
}
.time {
    color: #404040;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: 'Rubik Microbe', cursive;
}

.time:hover ~ .data {
    opacity: 1;
}

.buttonsBlock {
    display: flex;
    justify-content: center;
    margin: 15px;
}