.App {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7o9qhAM-71z-gmiLUqh5uTamAfNbe4r552g&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
}
