.affairs {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.blockButtons{
    display: flex;
    flex-direction: column;
}
.Buttons{
    margin: 10px auto;
}
s.item {
}

s.priority {
}

.button {
    background-color: #6ba19e;
    opacity: 0.7;
    padding: 5px 10px;
    margin: 0 5px;
}

.button:hover {
    background-color: #4f8c89;
    opacity: 1;
    transition: all 0.2s linear;
    cursor: pointer;
}
.deleteButton{
    background-color: #f1c5c5;
}
